* {
	padding: 0;
	margin: 0;
}

#container {
	padding: 10px 0 0 20px;
}

#chart {
	padding: 0 30px 0 40px;
}

svg {
	font: 10px sans-serif;
}

h1.title {
	font: 300 48px Helvetica Neue;
	color: #666;
}

.rule line {
	stroke: #999;
	stroke-opacity: .2;
	shape-rendering: crispEdges;
}

.rule:first-child line {
	stroke: #000;
	stroke-opacity: 1;
}

rect {
	fill-opacity: .8;
}
